git pull
echo "==================================================================="
echo "Don't run OpenCode, use \`nix develop\` so that it can use npm etc."
echo "==================================================================="
# use flake
