git pull
echo "==================================================================="
echo "Don't run OpenCode, use ./oc.sh instead"
echo "==================================================================="
# use flake
