*.corrupt.backup/
*.db
*.db-journal
*.db-shm
*.db-wal
*.db?*
*.lock
.beads-credential-key
.env
.exclusive-lock
.local_version
.sync.lock
backup/
bd.db
bd.sock
bd.sock.startlock
daemon.*
db.sqlite
dolt-server.activity
dolt-server.lock
dolt-server.log
dolt-server.pid
dolt-server.port
dolt/
embeddeddolt/
ephemeral.sqlite3
ephemeral.sqlite3-journal
ephemeral.sqlite3-shm
ephemeral.sqlite3-wal
export-state.json
export-state/
interactions.jsonl
issues.jsonl
last-touched
last_pull
proxied_server_client_info.json
proxieddb/
push-state.json
redirect
sync-state.json
